<!DOCTYPE html>
<html>
    <head>
	    <title>SATelite | Sentiment Analysis on Tumblr</title>
		<meta charset="utf-8"/>
		<meta name="description" content="">
		<meta name="author" content="Maxime PARIZOT, Franck BARBEDOR, Simon KEMPF, Simon TREBERN">
		<meta name="keywords" content="Sentiment Analysis, Tumblr, Insa, Rennes, Analyse de sentiments, Blog">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/design.css">
		<link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body>
        <% include header.ejs %>
        <section class="main">
            <h1>404 : la page demandé (<%= page %>) est introuvable</h1>
        </section>
    </body>
</html>