<!DOCTYPE html>
<html>
    <head>
	    <title>SATelite | Sentiment Analysis on Tumblr</title>
		<meta charset="utf-8"/>
		<meta name="description" content="">
		<meta name="author" content="Maxime PARIZOT, Franck BARBEDOR, Simon KEMPF, Simon TREBERN">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Lato:300,300italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/design.css">
		<link rel="icon" type="image/png" href="/favicon.png" />
    </head>
    <body id="home">
        <header>
            <div class="titre">
            <p><img src="/favicon.png" alt="logo SATélite" id="logo"> Sentiment Analysis on Tumblr</p>
            </div>
            <div class="accroche">
                <h1>SATelite</h1> 
                <p>Analyser les tendances sur les réseaux sociaux est désormais aussi facile que d'utiliser
                    un moteur de recherche</p>
                <p class="suggest">Entrez simplement un terme et voyez l'opinion de la communauté Tumblr sur ce sujet</p>
            </div>
            <form action="/analyse" method="post" id="form">
                <input type="search" id="tag" name="tag" placeholder="Tag" value="<% if(locals.tag) { %><%= tag %><% } %>"/>
                <p id="deploy">Options avancées <i class="fa fa-angle-double-down" aria-hidden="true"></i></p>
                <div class="options">
                    <input type="text" placeholder="Nombre de posts analysés (Défaut : 400)" name="nbPosts" value="400"/>
                    <select id="algo" name="algo">
                       <option value="basic">Algorithme simple</option>
                       <option value="custom">Algorithme personnalisé</option>
                    </select> 
                    <div id="basic">
                        <label><input type="checkbox" name="load" id="load" value="true"/> Négation</label>
                        <label><input type="checkbox" name="amplification" id="amplification" value="true"/> Amplification</label>
                        <label><input type="checkbox" name="ponderationParPhrase" id="ponderationParPhrase" value="true"/> Harmonisation</label>
                        <label><input type="checkbox" name="ponderationParNombre" id="ponderationParNombre" value="true"/> Pondération sur note</label>
                        <label><input type="checkbox" name="moyenne" id="moyenne" value="true"/> Scores équilibrés</label>
                         <label><input type="checkbox" name="tfidf" id="tfidf" value="true"/> TF-IDF</label>
                    </div>
                    <div id="custom">
                        <textarea name="script" id="script" placeholder="Entrez votre script ici"></textarea>
                    </div>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </header>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
        <script src="/script.js"></script> 
    </body>
</html>