<!DOCTYPE html>
<html>
    <head>
	    <title>SATÉlite | Sentiment Analysis on Tumblr</title>
		<meta charset="utf-8"/>
		<meta name="description" content="">
		<meta name="author" content="Maxime PARIZOT, Franck BARBEDOR, Simon KEMPF, Simon TREBERN">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="tpl/design.css">
		<link rel="icon" type="image/png" href="img/favicon.png" />
    </head>
    <body>
        <header>
            <h1></h1>
            <form action="index.html" method="get">
                <input type="search" name="tag" placeholder="Tag"/>
                <input type="submit" value="Submit"/>
            </form>
        </header>
        <section class="main">
        </section>
    </body>
</html>