<!DOCTYPE html>
<html>
    <head>
	    <title>SATÉlite | Sentiment Analysis on Tumblr</title>
		<meta charset="utf-8"/>
		<meta name="description" content="">
		<meta name="author" content="Maxime PARIZOT, Franck BARBEDOR, Simon KEMPF, Simon TREBERN">
		<meta name="keywords" content="Sentiment Analysis, Tumblr, Insa, Rennes, Analyse de sentiments, Blog">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/design.css">
		<link rel="icon" type="image/png" href="/static/img/favicon.png" />
    </head>
    <body>
        <header>
            <h1>
                <img src="favicon.png" alt="logo SATÉlite">
                SATÉlite
            </h1>
            <form action="/analyse" method="get">
                <input type="search" name="tag" placeholder="Tag"/>
                <input type="submit" value="Submit"/>
            </form>
        </header>
        <section class="main">
            <% if(tag != undefined) { %>
            
            <h1>Tag : <%= tag %></h1>
            
            <% } %>
        </section>
    </body>
</html>